<!-- templates/view_table.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>{{ table_name }}</h1>
    <table class="data-table">
        <thead>
            <tr>
                {% for column in data[0].keys() %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}